<div style="overflow: auto; height: 100%; padding: 10px;">
    <InputTextEditorFontSize/>
    <InputTextEditorFontFamily/>
    <InputTextEditorCursorWidth/>
    <InputTextEditorShowNewLines/>
    <InputTextEditorShowWhitespace/>
    <InputTextEditorTheme/>
    <InputTextEditorKeymap/>
</div>