@using Clair.Common.RazorLib.Keys.Models;
@using Clair.Common.RazorLib.Tabs.Displays
@using Clair.Common.RazorLib.Reactives.Displays
@using Clair.Common.RazorLib.TreeViews.Displays
@using Clair.TextEditor.RazorLib.FindAlls.Models;

@{
    var findAllState = TextEditorService.GetFindAllState();
    var appOptionsState = TextEditorService.CommonService.GetAppOptionsState();
}

<div class="ci_te_find-all">
    <div class="ci_te_find-all-body">

		<div class="ci_te_find-all-search-query">
			SearchQuery:&nbsp;
			<input class="ci_ide_input ci_ide_input-text"
				   style="width: 100%;"
				   placeholder="@nameof(SearchQuery)"
				   @bind="SearchQuery"
				   @bind:event="oninput" />
		</div>

		<div class="ci_te_find-all-starting-directory-path">
			StartingDirectoryPath:&nbsp;
			<input class="ci_ide_input ci_ide_input-text"
				   style="width: 100%;"
				   placeholder="@nameof(StartingDirectoryPath)"
				   @bind="StartingDirectoryPath"
				   @bind:event="oninput" />
		</div>

		@if (findAllState.ProgressBarModel is null || findAllState.ProgressBarModel.IsDisposed)
		{
			<button class="ci_button"
	                @onclick="DoSearchOnClick">
	            Find All
	        </button>
	        
	        <div>Not Searching</div>
	        
	        if (findAllState.ProgressBarModel is not null)
	        {
	        	<ProgressBarDisplay ProgressBarModel="findAllState.ProgressBarModel"/>
	        }
		}
		else
		{
			<button class="ci_button"
	                @onclick="CancelSearchOnClick">
	            Cancel
	        </button>
	        
	        <ProgressBarDisplay ProgressBarModel="findAllState.ProgressBarModel"/>
		}
		
		<div>Results: @($"{findAllState.SearchResultList.Count:N0}")</div>
	
		<div class="ci_te_search-engine-file-system-results" style="height: 300px;">
            <TreeViewContainerDisplay TreeViewContainerParameter="_treeViewContainerParameter"/>
		</div>
    </div>
</div>