@using Clair.Common.RazorLib;
@using Clair.Extensions.DotNet.Outputs.Displays.Internals

@* ContextRecord="ContextFacts.OutputContext" *@

<div class="ci_output-panel-display" style="height: 100%; width: 100%; overflow: auto;">
	<div class="ci_section-body">
		<OutputDisplay/>
	</div>
</div>
