@using Clair.Common.RazorLib.Dropdowns.Displays
@using Clair.Common.RazorLib.Dropdowns.Models
@using Clair.Common.RazorLib.TreeViews.Displays
@using Clair.Common.RazorLib.TreeViews.Models
@using Clair.Ide.RazorLib.Terminals.Models
@using Clair.Extensions.DotNet.TestExplorers.Models

<div class="ci_ide_test-explorer-tree-view"
	 style="@ElementDimensions.GetStyleString(TextEditorService.CommonService.UiStringBuilder)">

    <TreeViewContainerDisplay TreeViewContainerParameter="_treeViewContainerParameter"/>
</div>